<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seeyoui.kensite.framework.cms.comment.persistence.CommentMapper" >
	<!-- 查询单表的字段 -->
	<sql id="tableColumns">
	    T.ID AS "id",
	    T.CATEGORY_ID AS "categoryId",
	    T.CONTENT_ID AS "contentId",
	    T.TITLE AS "title",
	    T.CONTENT AS "content",
	    T.NAME AS "name",
	    T.IP AS "ip",
	    T.AUDIT_USER_ID AS "auditUserId",
	    T.AUDIT_DATE AS "auditDate",
	    T.CREATE_USER AS "createUser.userName",
	    T.CREATE_DATE AS "createDate",
	    T.UPDATE_USER AS "updateUser.userName",
	    T.UPDATE_DATE AS "updateDate",
	    T.REMARKS AS "remarks",
	    T.DEL_FLAG AS "delFlag"
	</sql>
	<!-- 查询过滤条件 -->
	<sql id="whereStr">
		<where>
			1=1
			<if test="id != null and id != ''">
				AND T.ID LIKE '%'||#{id}||'%'
			</if>
			<if test="categoryId != null and categoryId != ''">
				AND T.CATEGORY_ID LIKE '%'||#{categoryId}||'%'
			</if>
			<if test="contentId != null and contentId != ''">
				AND T.CONTENT_ID LIKE '%'||#{contentId}||'%'
			</if>
			<if test="title != null and title != ''">
				AND T.TITLE LIKE '%'||#{title}||'%'
			</if>
			<if test="content != null and content != ''">
				AND T.CONTENT LIKE '%'||#{content}||'%'
			</if>
			<if test="name != null and name != ''">
				AND T.NAME LIKE '%'||#{name}||'%'
			</if>
			<if test="ip != null and ip != ''">
				AND T.IP LIKE '%'||#{ip}||'%'
			</if>
			<if test="auditUserId != null and auditUserId != ''">
				AND T.AUDIT_USER_ID LIKE '%'||#{auditUserId}||'%'
			</if>
			<if test="auditDate != null and auditDate != ''">
				AND T.AUDIT_DATE = #{auditDate}
			</if>
			<if test="createUser != null and createUser != ''">
				AND T.CREATE_USER LIKE '%'||#{createUser}||'%'
			</if>
			<if test="createDate != null and createDate != ''">
				AND T.CREATE_DATE = #{createDate}
			</if>
			<if test="updateUser != null and updateUser != ''">
				AND T.UPDATE_USER LIKE '%'||#{updateUser}||'%'
			</if>
			<if test="updateDate != null and updateDate != ''">
				AND T.UPDATE_DATE = #{updateDate}
			</if>
			<if test="remarks != null and remarks != ''">
				AND T.REMARKS LIKE '%'||#{remarks}||'%'
			</if>
			<if test="delFlag != null and delFlag != ''">
				AND T.DEL_FLAG LIKE '%'||#{delFlag}||'%'
			</if>
		</where>
	</sql>
	<sql id="orderBy">
		ORDER BY T.CREATE_DATE DESC 
	</sql>
	
	<!-- 根据ID查询单条数据 -->
	<select id="findCommentById" resultType="com.seeyoui.kensite.framework.cms.comment.domain.Comment">
		SELECT
		<include refid="tableColumns" />
		FROM CMS_COMMENT T
		WHERE T.ID = #{id}
	</select>
	
	<!-- 查询数据集合 -->
	<select id="findCommentList" resultType="com.seeyoui.kensite.framework.cms.comment.domain.Comment">
		select * from(select T.*,rownum rn from(
			SELECT
			<include refid="tableColumns"/>
			FROM CMS_COMMENT T
			<include refid="whereStr"/>
			<include refid="orderBy"/>
		) T WHERE rownum &lt; = #{page}*#{rows}) where rn &gt; (#{page}-1)*#{rows}
	</select>
	
	<!-- 查询所有数据集合 -->
	<select id="findAllCommentList" resultType="com.seeyoui.kensite.framework.cms.comment.domain.Comment">
		SELECT
		<include refid="tableColumns"/>
		FROM CMS_COMMENT T
		<include refid="whereStr"/>
		<include refid="orderBy"/>
	</select>
	
	<!-- 查询数据总数 -->
	<select id="findCommentListTotal" resultType="EasyUIDataGrid">
		SELECT
		COUNT(1) total
		FROM CMS_COMMENT T
		<include refid="whereStr"/>
	</select>
	
	<!-- 查询数据总数 -->
	<select id="findCommentTotal">
		SELECT
		COUNT(1) total
		FROM CMS_COMMENT T
		<include refid="whereStr"/>
	</select>
	
	<!-- 数据新增 -->
	<insert id="saveComment" parameterType="com.seeyoui.kensite.framework.cms.comment.domain.Comment">
		INSERT INTO CMS_COMMENT (
	    	
	    	CATEGORY_ID,
	    	CONTENT_ID,
	    	TITLE,
	    	CONTENT,
	    	NAME,
	    	IP,
	    	AUDIT_USER_ID,
	    	AUDIT_DATE,
	    	
	    	
	    	
	    	
	    	REMARKS,
	    	DEL_FLAG,
		    CREATE_USER,
		    CREATE_DATE,
		    ID
		)
		VALUES (
			
			#{categoryId,jdbcType=VARCHAR},
			#{contentId,jdbcType=VARCHAR},
			#{title,jdbcType=VARCHAR},
			#{content,jdbcType=VARCHAR},
			#{name,jdbcType=VARCHAR},
			#{ip,jdbcType=VARCHAR},
			#{auditUserId,jdbcType=VARCHAR},
			#{auditDate,jdbcType=TIMESTAMP},
			
			
			
			
			#{remarks,jdbcType=VARCHAR},
			#{delFlag,jdbcType=VARCHAR},
			#{createUser.userName},
			sysdate,
		    #{id}
		)
	</insert>
	
	<!-- 数据修改 -->
	<update id="updateComment" parameterType="com.seeyoui.kensite.framework.cms.comment.domain.Comment">
		UPDATE CMS_COMMENT
		<set>
	    	
	    	<if test="categoryId !=null and categoryId !=''">
			CATEGORY_ID=#{categoryId},
			</if>
	    	<if test="contentId !=null and contentId !=''">
			CONTENT_ID=#{contentId},
			</if>
	    	<if test="title !=null and title !=''">
			TITLE=#{title},
			</if>
	    	<if test="content !=null and content !=''">
			CONTENT=#{content},
			</if>
	    	<if test="name !=null and name !=''">
			NAME=#{name},
			</if>
	    	<if test="ip !=null and ip !=''">
			IP=#{ip},
			</if>
	    	<if test="auditUserId !=null and auditUserId !=''">
			AUDIT_USER_ID=#{auditUserId},
			</if>
	    	<if test="auditDate !=null and auditDate !=''">
			AUDIT_DATE=#{auditDate},
			</if>
	    	
	    	
	    	
	    	
	    	<if test="remarks !=null and remarks !=''">
			REMARKS=#{remarks},
			</if>
	    	<if test="delFlag !=null and delFlag !=''">
			DEL_FLAG=#{delFlag},
			</if>
		    UPDATE_USER = #{updateUser.userName},
		    UPDATE_DATE = sysdate,
		    ID = #{id}
		</set>
		WHERE ID = #{id}
	</update>
	
	<!-- 数据删除 -->
	<delete id="deleteComment">
		DELETE FROM CMS_COMMENT WHERE id IN 
		<foreach item="listId" collection="list"
			open="(" separator="," close=")">
			#{listId}
		</foreach>
	</delete>
</mapper>