<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seeyoui.kensite.framework.system.persistence.SysRoleModuleMapper" >
	<!-- 查询单表的字段 -->
	<sql id="tableColumns">
	    t.roleid,
	    t.moduleid
	</sql>
	<!-- 查询过滤条件 -->
	<sql id="whereStr">
		<where>
			1=1
			<if test="roleid != null and roleid != ''">
				and t.roleid LIKE '%'||#{roleid}||'%'
			</if>
			<if test="moduleid != null and moduleid != ''">
				and t.moduleid LIKE '%'||#{moduleid}||'%'
			</if>
		</where>
	</sql>
	<sql id="orderBy">
		ORDER BY t.id DESC 
	</sql>
	
	<!-- 根据ID查询单条数据 -->
	<select id="findSysRoleModuleById" resultType="com.seeyoui.kensite.framework.system.domain.SysRoleModule">
		SELECT
		<include refid="tableColumns" />
		FROM SYS_ROLE_MODULE t
		WHERE id = #{id}
	</select>
	
	<!-- 查询数据集合 -->
	<select id="findSysRoleModuleList" resultType="com.seeyoui.kensite.framework.system.domain.SysRoleModule">
		select * from(select t.*,rownum rn from(
			SELECT
			<include refid="tableColumns"/>
			FROM SYS_ROLE_MODULE t
			<include refid="whereStr"/>
			<include refid="orderBy"/>
		) t where rownum &lt; = #{page}*#{rows}) where rn &gt; (#{page}-1)*#{rows}
	</select>
	
	<!-- 查询数据总数 -->
	<select id="findSysRoleModuleListTotal" resultType="EasyUIDataGrid">
		SELECT
		COUNT(id)total
		FROM SYS_ROLE_MODULE t
		<include refid="whereStr"/>
	</select>
	
	<!-- 数据新增 -->
	<insert id="saveSysRoleModule" parameterType="com.seeyoui.kensite.framework.system.domain.SysRoleModule">
		INSERT INTO SYS_ROLE_MODULE (
	    	roleid,
	    	moduleid,
		    id
		)
		VALUES (
			#{roleid},
			#{moduleid},
		    #{id}
		)
	</insert>
	
	<!-- 数据修改 -->
	<update id="updateSysRoleModule" parameterType="com.seeyoui.kensite.framework.system.domain.SysRoleModule">
		UPDATE SYS_ROLE_MODULE
		<set>
	    	<if test="roleid !=null and roleid !=''">
			roleid=#{roleid},
			</if>
	    	<if test="moduleid !=null and moduleid !=''">
			moduleid=#{moduleid},
			</if>
		    id = #{id}
		</set>
		WHERE id = #{id}
	</update>
	
	<!-- 数据删除 -->
	<delete id="deleteSysRoleModule">
		DELETE FROM SYS_ROLE_MODULE WHERE id IN 
		<foreach item="listId" collection="list"
			open="(" separator="," close=")">
			#{listId}
		</foreach>
	</delete>
</mapper>