<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seeyoui.kensite.framework.cms.persistence.SiteMapper" >
	<!-- 查询单表的字段 -->
	<sql id="tableColumns">
	    t.id,
	    t.name,
	    t.title,
	    t.logo,
	    t.domain,
	    t.description,
	    t.keywords,
	    t.theme,
	    t.copyright,
	    t.customview,
	    t.createuser,
	    t.createdate,
	    t.updateuser,
	    t.updatedate,
	    t.remarks,
	    t.delflag
	</sql>
	<!-- 查询过滤条件 -->
	<sql id="whereStr">
		<where>
			1=1
			<if test="id != null and id != ''">
				and t.id LIKE '%'||#{id}||'%'
			</if>
			<if test="name != null and name != ''">
				and t.name LIKE '%'||#{name}||'%'
			</if>
			<if test="title != null and title != ''">
				and t.title LIKE '%'||#{title}||'%'
			</if>
			<if test="logo != null and logo != ''">
				and t.logo LIKE '%'||#{logo}||'%'
			</if>
			<if test="domain != null and domain != ''">
				and t.domain LIKE '%'||#{domain}||'%'
			</if>
			<if test="description != null and description != ''">
				and t.description LIKE '%'||#{description}||'%'
			</if>
			<if test="keywords != null and keywords != ''">
				and t.keywords LIKE '%'||#{keywords}||'%'
			</if>
			<if test="theme != null and theme != ''">
				and t.theme LIKE '%'||#{theme}||'%'
			</if>
			<if test="copyright != null and copyright != ''">
				and t.copyright LIKE '%'||#{copyright}||'%'
			</if>
			<if test="customview != null and customview != ''">
				and t.customview LIKE '%'||#{customview}||'%'
			</if>
			<if test="createuser != null and createuser != ''">
				and t.createuser LIKE '%'||#{createuser}||'%'
			</if>
			<if test="createdate != null and createdate != ''">
				and t.createdate = #{createdate}
			</if>
			<if test="updateuser != null and updateuser != ''">
				and t.updateuser LIKE '%'||#{updateuser}||'%'
			</if>
			<if test="updatedate != null and updatedate != ''">
				and t.updatedate = #{updatedate}
			</if>
			<if test="remarks != null and remarks != ''">
				and t.remarks LIKE '%'||#{remarks}||'%'
			</if>
			<if test="delflag != null and delflag != ''">
				and t.delflag LIKE '%'||#{delflag}||'%'
			</if>
		</where>
	</sql>
	<sql id="orderBy">
		ORDER BY t.id DESC 
	</sql>
	
	<!-- 根据ID查询单条数据 -->
	<select id="findSiteById" resultType="com.seeyoui.kensite.framework.cms.domain.Site">
		SELECT
		<include refid="tableColumns" />
		FROM CMS_SITE t
		WHERE id = #{id}
	</select>
	
	<!-- 查询数据集合 -->
	<select id="findSiteList" resultType="com.seeyoui.kensite.framework.cms.domain.Site">
		select * from(select t.*,rownum rn from(
			SELECT
			<include refid="tableColumns"/>
			FROM CMS_SITE t
			<include refid="whereStr"/>
			<include refid="orderBy"/>
		) t where rownum &lt; = #{page}*#{rows}) where rn &gt; (#{page}-1)*#{rows}
	</select>
	
	<!-- 查询数据总数 -->
	<select id="findSiteListTotal" resultType="EasyUIDataGrid">
		SELECT
		COUNT(id)total
		FROM CMS_SITE t
		<include refid="whereStr"/>
	</select>
	
	<!-- 数据新增 -->
	<insert id="saveSite" parameterType="com.seeyoui.kensite.framework.cms.domain.Site">
		INSERT INTO CMS_SITE (
	    	name,
	    	title,
	    	logo,
	    	domain,
	    	description,
	    	keywords,
	    	theme,
	    	copyright,
	    	customview,
	    	createuser,
	    	remarks,
	    	delflag,
		    id
		)
		VALUES (
			#{name},
			#{title},
			#{logo},
			#{domain},
			#{description},
			#{keywords},
			#{theme},
			#{copyright},
			#{customview},
			#{createuser},
			#{remarks},
			#{delflag},
		    #{id}
		)
	</insert>
	
	<!-- 数据修改 -->
	<update id="updateSite" parameterType="com.seeyoui.kensite.framework.cms.domain.Site">
		UPDATE CMS_SITE
		<set>
	    	<if test="name !=null and name !=''">
			name=#{name},
			</if>
	    	<if test="title !=null and title !=''">
			title=#{title},
			</if>
	    	<if test="logo !=null and logo !=''">
			logo=#{logo},
			</if>
	    	<if test="domain !=null and domain !=''">
			domain=#{domain},
			</if>
	    	<if test="description !=null and description !=''">
			description=#{description},
			</if>
	    	<if test="keywords !=null and keywords !=''">
			keywords=#{keywords},
			</if>
	    	<if test="theme !=null and theme !=''">
			theme=#{theme},
			</if>
	    	<if test="copyright !=null and copyright !=''">
			copyright=#{copyright},
			</if>
	    	<if test="customview !=null and customview !=''">
			customview=#{customview},
			</if>
	    	<if test="updateuser !=null and updateuser !=''">
			updateuser=#{updateuser},
			</if>
	    	<if test="remarks !=null and remarks !=''">
			remarks=#{remarks},
			</if>
	    	<if test="delflag !=null and delflag !=''">
			delflag=#{delflag},
			</if>
		    id = #{id}
		</set>
		WHERE id = #{id}
	</update>
	
	<!-- 数据删除 -->
	<delete id="deleteSite">
		DELETE FROM CMS_SITE WHERE id IN 
		<foreach item="listId" collection="list"
			open="(" separator="," close=")">
			#{listId}
		</foreach>
	</delete>
</mapper>