<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seeyoui.kensite.framework.system.persistence.SysRoleMenuMapper" >
	<!-- 查询单表的字段 -->
	<sql id="tableColumns">
	    t.roleid,
	    t.menuid
	</sql>
	<!-- 查询过滤条件 -->
	<sql id="whereStr">
		<where>
			1=1
			<if test="roleid != null and roleid != ''">
				and t.roleid LIKE '%${roleid}%'
			</if>
			<if test="menuid != null and menuid != ''">
				and t.menuid LIKE '%${menuid}%'
			</if>
		</where>
	</sql>
	<sql id="orderBy">
		ORDER BY t.id DESC 
	</sql>
	
	<!-- 查询数据TREE -->
	<select id="getTreeJson" resultType="com.seeyoui.kensite.framework.system.domain.SysMenu" parameterType="com.seeyoui.kensite.framework.system.domain.SysRoleMenu">
		SELECT 
		t.id,
	    t.parentid,
	    t.name,
	    t.url,
	    t.sequence,
	    t.icon,
		case when sr.id is null then 'F' else 'T' end target
		from sys_menu t
	    left join sys_role_menu srm
	   	on srm.menuid = t.id and srm.roleid=#{roleid}
    	left join sys_role sr
    	on sr.id = srm.roleid
    	ORDER BY t.sequence ASC
	</select>
	
	<!-- 数据新增 -->
	<insert id="saveSysRoleMenu" parameterType="com.seeyoui.kensite.framework.system.domain.SysRoleMenu">
		INSERT INTO SYS_ROLE_MENU (
	    	roleid,
	    	menuid
		)
		VALUES (
			#{roleid},
			#{menuid}
		)
	</insert>
	
	<!-- 数据删除 -->
	<delete id="deleteSysRoleMenu">
		DELETE FROM SYS_ROLE_MENU WHERE roleid=#{roleid}
	</delete>
</mapper>