<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seeyoui.kensite.framework.cms.guestbook.persistence.GuestbookMapper" >
	<!-- 查询单表的字段 -->
	<sql id="tableColumns">
	    T.ID AS "id",
	    T.TYPE AS "type",
	    T.CONTENT AS "content",
	    T.NAME AS "name",
	    T.EMAIL AS "email",
	    T.PHONE AS "phone",
	    T.WORKUNIT AS "workunit",
	    T.IP AS "ip",
	    T.RE_USER_ID AS "reUserId",
	    T.RE_DATE AS "reDate",
	    T.RE_CONTENT AS "reContent",
	    T.CREATE_USER AS "createUser.userName",
	    T.CREATE_DATE AS "createDate",
	    T.UPDATE_USER AS "updateUser.userName",
	    T.UPDATE_DATE AS "updateDate",
	    T.REMARKS AS "remarks",
	    T.DEL_FLAG AS "delFlag"
	</sql>
	<!-- 查询过滤条件 -->
	<sql id="whereStr">
		<where>
			1=1
			<if test="id != null and id != ''">
				AND T.ID LIKE '%'||#{id}||'%'
			</if>
			<if test="type != null and type != ''">
				AND T.TYPE LIKE '%'||#{type}||'%'
			</if>
			<if test="content != null and content != ''">
				AND T.CONTENT LIKE '%'||#{content}||'%'
			</if>
			<if test="name != null and name != ''">
				AND T.NAME LIKE '%'||#{name}||'%'
			</if>
			<if test="email != null and email != ''">
				AND T.EMAIL LIKE '%'||#{email}||'%'
			</if>
			<if test="phone != null and phone != ''">
				AND T.PHONE LIKE '%'||#{phone}||'%'
			</if>
			<if test="workunit != null and workunit != ''">
				AND T.WORKUNIT LIKE '%'||#{workunit}||'%'
			</if>
			<if test="ip != null and ip != ''">
				AND T.IP LIKE '%'||#{ip}||'%'
			</if>
			<if test="reUserId != null and reUserId != ''">
				AND T.RE_USER_ID LIKE '%'||#{reUserId}||'%'
			</if>
			<if test="reDate != null and reDate != ''">
				AND T.RE_DATE = #{reDate}
			</if>
			<if test="reContent != null and reContent != ''">
				AND T.RE_CONTENT LIKE '%'||#{reContent}||'%'
			</if>
			<if test="createUser != null and createUser.userName != ''">
				AND T.CREATE_USER LIKE '%'||#{createUser.userName}||'%'
			</if>
			<if test="createDate != null and createDate != ''">
				AND T.CREATE_DATE = #{createDate}
			</if>
			<if test="updateUser != null and updateUser.userName != ''">
				AND T.UPDATE_USER LIKE '%'||#{updateUser.userName}||'%'
			</if>
			<if test="updateDate != null and updateDate != ''">
				AND T.UPDATE_DATE = #{updateDate}
			</if>
			<if test="remarks != null and remarks != ''">
				AND T.REMARKS LIKE '%'||#{remarks}||'%'
			</if>
			<if test="delFlag != null and delFlag != ''">
				AND T.DEL_FLAG LIKE '%'||#{delFlag}||'%'
			</if>
		</where>
	</sql>
	<sql id="orderBy">
		ORDER BY T.CREATE_DATE DESC 
	</sql>
	
	<!-- 根据ID查询单条数据 -->
	<select id="findGuestbookById" resultType="com.seeyoui.kensite.framework.cms.guestbook.domain.Guestbook">
		SELECT
		<include refid="tableColumns" />
		FROM CMS_GUESTBOOK T
		WHERE T.ID = #{id}
	</select>
	
	<!-- 查询数据集合 -->
	<select id="findGuestbookList" resultType="com.seeyoui.kensite.framework.cms.guestbook.domain.Guestbook">
		select * from(select T.*,rownum rn from(
			SELECT
			<include refid="tableColumns"/>
			FROM CMS_GUESTBOOK T
			<include refid="whereStr"/>
			<include refid="orderBy"/>
		) T WHERE rownum &lt; = #{page}*#{rows}) where rn &gt; (#{page}-1)*#{rows}
	</select>
	
	<!-- 查询所有数据集合 -->
	<select id="findAllGuestbookList" resultType="com.seeyoui.kensite.framework.cms.guestbook.domain.Guestbook">
		SELECT
		<include refid="tableColumns"/>
		FROM CMS_GUESTBOOK T
		<include refid="whereStr"/>
		<include refid="orderBy"/>
	</select>
	
	<!-- 查询数据总数 -->
	<select id="findGuestbookListTotal" resultType="EasyUIDataGrid">
		SELECT
		COUNT(1) total
		FROM CMS_GUESTBOOK T
		<include refid="whereStr"/>
	</select>
	
	<!-- 查询数据总数 -->
	<select id="findGuestbookTotal" resultType="Integer">
		SELECT
		COUNT(1) total
		FROM CMS_GUESTBOOK T
		<include refid="whereStr"/>
	</select>
	
	<!-- 数据新增 -->
	<insert id="saveGuestbook" parameterType="com.seeyoui.kensite.framework.cms.guestbook.domain.Guestbook">
		INSERT INTO CMS_GUESTBOOK (
	    	
	    	TYPE,
	    	CONTENT,
	    	NAME,
	    	EMAIL,
	    	PHONE,
	    	WORKUNIT,
	    	IP,
	    	RE_USER_ID,
	    	RE_DATE,
	    	RE_CONTENT,
	    	
	    	
	    	
	    	
	    	REMARKS,
	    	DEL_FLAG,
		    CREATE_USER,
		    CREATE_DATE,
		    ID
		)
		VALUES (
			
			#{type,jdbcType=VARCHAR},
			#{content,jdbcType=VARCHAR},
			#{name,jdbcType=VARCHAR},
			#{email,jdbcType=VARCHAR},
			#{phone,jdbcType=VARCHAR},
			#{workunit,jdbcType=VARCHAR},
			#{ip,jdbcType=VARCHAR},
			#{reUserId,jdbcType=VARCHAR},
			#{reDate,jdbcType=TIMESTAMP},
			#{reContent,jdbcType=VARCHAR},
			
			
			
			
			#{remarks,jdbcType=VARCHAR},
			#{delFlag,jdbcType=VARCHAR},
			#{createUser.userName},
			sysdate,
		    #{id}
		)
	</insert>
	
	<!-- 数据修改 -->
	<update id="updateGuestbook" parameterType="com.seeyoui.kensite.framework.cms.guestbook.domain.Guestbook">
		UPDATE CMS_GUESTBOOK
		<set>
	    	
	    	<if test="type !=null and type !=''">
			TYPE=#{type},
			</if>
	    	<if test="content !=null and content !=''">
			CONTENT=#{content},
			</if>
	    	<if test="name !=null and name !=''">
			NAME=#{name},
			</if>
	    	<if test="email !=null and email !=''">
			EMAIL=#{email},
			</if>
	    	<if test="phone !=null and phone !=''">
			PHONE=#{phone},
			</if>
	    	<if test="workunit !=null and workunit !=''">
			WORKUNIT=#{workunit},
			</if>
	    	<if test="ip !=null and ip !=''">
			IP=#{ip},
			</if>
	    	<if test="reUserId !=null and reUserId !=''">
			RE_USER_ID=#{reUserId},
			</if>
	    	<if test="reDate !=null and reDate !=''">
			RE_DATE=#{reDate},
			</if>
	    	<if test="reContent !=null and reContent !=''">
			RE_CONTENT=#{reContent},
			</if>
	    	
	    	
	    	
	    	
	    	<if test="remarks !=null and remarks !=''">
			REMARKS=#{remarks},
			</if>
	    	<if test="delFlag !=null and delFlag !=''">
			DEL_FLAG=#{delFlag},
			</if>
		    UPDATE_USER = #{updateUser.userName},
		    UPDATE_DATE = sysdate,
		    ID = #{id}
		</set>
		WHERE ID = #{id}
	</update>
	
	<!-- 数据删除 -->
	<delete id="deleteGuestbook">
		DELETE FROM CMS_GUESTBOOK WHERE id IN 
		<foreach item="listId" collection="list"
			open="(" separator="," close=")">
			#{listId}
		</foreach>
	</delete>
</mapper>