<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seeyoui.kensite.framework.system.persistence.SysModulePermissionMapper" >
	<!-- 查询单表的字段 -->
	<sql id="tableColumns">
	    t.moduleid,
	    t.permissionid
	</sql>
	<!-- 查询过滤条件 -->
	<sql id="whereStr">
		<where>
			1=1
			<if test="moduleid != null and moduleid != ''">
				and t.moduleid LIKE '%'||#{moduleid}||'%'
			</if>
			<if test="permissionid != null and permissionid != ''">
				and t.permissionid LIKE '%'||#{permissionid}||'%'
			</if>
		</where>
	</sql>
	<sql id="orderBy">
		ORDER BY t.id DESC 
	</sql>
	
	<!-- 根据ID查询单条数据 -->
	<select id="findSysModulePermissionById" resultType="com.seeyoui.kensite.framework.system.domain.SysModulePermission">
		SELECT
		<include refid="tableColumns" />
		FROM SYS_MODULE_PERMISSION t
		WHERE id = #{id}
	</select>
	
	<!-- 查询数据集合 -->
	<select id="findSysModulePermissionList" resultType="com.seeyoui.kensite.framework.system.domain.SysModulePermission">
		select * from(select t.*,rownum rn from(
			SELECT
			<include refid="tableColumns"/>
			FROM SYS_MODULE_PERMISSION t
			<include refid="whereStr"/>
			<include refid="orderBy"/>
		) t where rownum &lt; = #{page}*#{rows}) where rn &gt; (#{page}-1)*#{rows}
	</select>
	
	<!-- 查询数据总数 -->
	<select id="findSysModulePermissionListTotal" resultType="EasyUIDataGrid">
		SELECT
		COUNT(id)total
		FROM SYS_MODULE_PERMISSION t
		<include refid="whereStr"/>
	</select>
	
	<!-- 数据新增 -->
	<insert id="saveSysModulePermission" parameterType="com.seeyoui.kensite.framework.system.domain.SysModulePermission">
		INSERT INTO SYS_MODULE_PERMISSION (
	    	moduleid,
	    	permissionid,
		    id
		)
		VALUES (
			#{moduleid},
			#{permissionid},
		    #{id}
		)
	</insert>
	
	<!-- 数据修改 -->
	<update id="updateSysModulePermission" parameterType="com.seeyoui.kensite.framework.system.domain.SysModulePermission">
		UPDATE SYS_MODULE_PERMISSION
		<set>
	    	<if test="moduleid !=null and moduleid !=''">
			moduleid=#{moduleid},
			</if>
	    	<if test="permissionid !=null and permissionid !=''">
			permissionid=#{permissionid},
			</if>
		    id = #{id}
		</set>
		WHERE id = #{id}
	</update>
	
	<!-- 数据删除 -->
	<delete id="deleteSysModulePermission">
		DELETE FROM SYS_MODULE_PERMISSION WHERE id IN 
		<foreach item="listId" collection="list"
			open="(" separator="," close=")">
			#{listId}
		</foreach>
	</delete>
</mapper>