<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seeyoui.kensite.bussiness.demo.demo.persistence.DemoMapper" >
	<!-- 查询单表的字段 -->
	<sql id="tableColumns">
	    T.ID AS "id",
	    T.CREATE_DATE AS "createDate",
	    T.CREATE_USER AS "createUser",
	    T.UPDATE_DATE AS "updateDate",
	    T.UPDATE_USER AS "updateUser",
	    T.REMARKS AS "remarks",
	    T.DEL_FLAG AS "delFlag",
	    T.A AS "a",
	    T.B AS "b",
	    T.C AS "c",
	    T.D AS "d",
	    T.E AS "e",
	    T.F AS "f",
	    T.G AS "g",
	    T.H AS "h",
	    T.I AS "i",
	    T.J AS "j",
	    T.K AS "k"
	</sql>
	<!-- 查询过滤条件 -->
	<sql id="whereStr">
		<where>
			1=1
			<if test="id != null and id != ''">
				AND T.ID LIKE '%'||#{id}||'%'
			</if>
			<if test="createDate != null and createDate != ''">
				AND T.CREATE_DATE = #{createDate}
			</if>
			<if test="createUser != null and createUser != ''">
				AND T.CREATE_USER LIKE '%'||#{createUser}||'%'
			</if>
			<if test="updateDate != null and updateDate != ''">
				AND T.UPDATE_DATE = #{updateDate}
			</if>
			<if test="updateUser != null and updateUser != ''">
				AND T.UPDATE_USER LIKE '%'||#{updateUser}||'%'
			</if>
			<if test="remarks != null and remarks != ''">
				AND T.REMARKS LIKE '%'||#{remarks}||'%'
			</if>
			<if test="delFlag != null and delFlag != ''">
				AND T.DEL_FLAG LIKE '%'||#{delFlag}||'%'
			</if>
			<if test="a != null and a != ''">
				AND T.A LIKE '%'||#{a}||'%'
			</if>
			<if test="b != null and b != ''">
				AND T.B LIKE '%'||#{b}||'%'
			</if>
			<if test="c != null and c != ''">
				AND T.C LIKE '%'||#{c}||'%'
			</if>
			<if test="d != null and d != ''">
				AND T.D LIKE '%'||#{d}||'%'
			</if>
			<if test="e != null and e != ''">
				AND T.E LIKE '%'||#{e}||'%'
			</if>
			<if test="f != null and f != ''">
				AND T.F LIKE '%'||#{f}||'%'
			</if>
			<if test="g != null and g != ''">
				AND T.G LIKE '%'||#{g}||'%'
			</if>
			<if test="h != null and h != ''">
				AND T.H LIKE '%'||#{h}||'%'
			</if>
			<if test="i != null and i != ''">
				AND T.I LIKE '%'||#{i}||'%'
			</if>
			<if test="j != null and j != ''">
				AND T.J LIKE '%'||#{j}||'%'
			</if>
			<if test="k != null and k != ''">
				AND T.K LIKE '%'||#{k}||'%'
			</if>
		</where>
	</sql>
	<sql id="orderBy">
		ORDER BY T.CREATE_DATE DESC 
	</sql>
	
	<!-- 根据ID查询单条数据 -->
	<select id="findOne" resultType="com.seeyoui.kensite.bussiness.demo.demo.domain.Demo">
		SELECT
		<include refid="tableColumns" />
		FROM T_DEMO T
		WHERE T.ID = #{id}
	</select>
	
	<!-- 查询数据集合 -->
	<select id="findList" resultType="com.seeyoui.kensite.bussiness.demo.demo.domain.Demo">
		select * from(select T.*,rownum rn from(
			SELECT
			<include refid="tableColumns"/>
			FROM T_DEMO T
			<include refid="whereStr"/>
			<include refid="orderBy"/>
		) T WHERE rownum &lt; = #{page}*#{rows}) where rn &gt; (#{page}-1)*#{rows}
	</select>
	
	<!-- 查询所有数据集合 -->
	<select id="findAll" resultType="com.seeyoui.kensite.bussiness.demo.demo.domain.Demo">
		SELECT
		<include refid="tableColumns"/>
		FROM T_DEMO T
		<include refid="whereStr"/>
		<include refid="orderBy"/>
	</select>
	
	<!-- 查询数据总数 -->
	<select id="findTotal" resultType="Integer">
		SELECT
		COUNT(1) total
		FROM T_DEMO T
		<include refid="whereStr"/>
	</select>
	
	<!-- 数据新增 -->
	<insert id="save" parameterType="com.seeyoui.kensite.bussiness.demo.demo.domain.Demo">
		INSERT INTO T_DEMO (
	    	
	    	
	    	
	    	
	    	
	    	REMARKS,
	    	DEL_FLAG,
	    	A,
	    	B,
	    	C,
	    	D,
	    	E,
	    	F,
	    	G,
	    	H,
	    	I,
	    	J,
	    	K,
		    CREATE_USER,
		    CREATE_DATE,
		    ID
		)
		VALUES (
			
			
			
			
			
			#{remarks,jdbcType=VARCHAR},
			#{delFlag,jdbcType=VARCHAR},
			#{a,jdbcType=VARCHAR},
			#{b,jdbcType=VARCHAR},
			#{c,jdbcType=VARCHAR},
			#{d,jdbcType=VARCHAR},
			#{e,jdbcType=VARCHAR},
			#{f,jdbcType=VARCHAR},
			#{g,jdbcType=VARCHAR},
			#{h,jdbcType=VARCHAR},
			#{i,jdbcType=VARCHAR},
			#{j,jdbcType=VARCHAR},
			#{k,jdbcType=VARCHAR},
			#{createUser.userName},
			sysdate,
		    #{id}
		)
	</insert>
	
	<!-- 数据修改 -->
	<update id="update" parameterType="com.seeyoui.kensite.bussiness.demo.demo.domain.Demo">
		UPDATE T_DEMO
		<set>
	    	
	    	
	    	
	    	
	    	
	    	<if test="remarks !=null and remarks !=''">
			REMARKS=#{remarks},
			</if>
	    	<if test="delFlag !=null and delFlag !=''">
			DEL_FLAG=#{delFlag},
			</if>
	    	<if test="a !=null and a !=''">
			A=#{a},
			</if>
	    	<if test="b !=null and b !=''">
			B=#{b},
			</if>
	    	<if test="c !=null and c !=''">
			C=#{c},
			</if>
	    	<if test="d !=null and d !=''">
			D=#{d},
			</if>
	    	<if test="e !=null and e !=''">
			E=#{e},
			</if>
	    	<if test="f !=null and f !=''">
			F=#{f},
			</if>
	    	<if test="g !=null and g !=''">
			G=#{g},
			</if>
	    	<if test="h !=null and h !=''">
			H=#{h},
			</if>
	    	<if test="i !=null and i !=''">
			I=#{i},
			</if>
	    	<if test="j !=null and j !=''">
			J=#{j},
			</if>
	    	<if test="k !=null and k !=''">
			K=#{k},
			</if>
		    UPDATE_USER = #{updateUser.userName},
		    UPDATE_DATE = sysdate,
		    ID = #{id}
		</set>
		WHERE ID = #{id}
	</update>
	
	<!-- 数据删除 -->
	<delete id="delete">
		DELETE FROM T_DEMO WHERE id IN 
		<foreach item="listId" collection="list"
			open="(" separator="," close=")">
			#{listId}
		</foreach>
	</delete>
</mapper>