@charset "utf-8"; 

@font-face {
	font-family: 'icomoon';
	src: url('fontsIco/icomoon.eot?-2mgmdr&v=116');
	src: url('fontsIco/icomoon.eot?#iefix-2mgmdr&v=116')
		format('embedded-opentype'), url('fontsIco/icomoon.ttf?-2mgmdr&v=116')
		format('truetype'), url('fontsIco/icomoon.woff?-2mgmdr&v=116')
		format('woff');
	font-weight: normal;
	font-style: normal
}

[class^="icon-"], [class*=" icon-"], [class*="faisco-icons"] {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.faisco-icons-wechat1:before {
	content: "\e67a"
}

.faisco-icons-wechat2:before {
	content: "\e682"
}

.faisco-icons-album1:before {
	content: "\e600"
}

.faisco-icons-album2:before {
	content: "\e601"
}

.faisco-icons-allday1:before {
	content: "\e602"
}

.faisco-icons-allday2:before {
	content: "\e603"
}

.faisco-icons-and1:before {
	content: "\e604"
}

.faisco-icons-and2:before {
	content: "\e605"
}

.faisco-icons-article1:before {
	content: "\e606"
}

.faisco-icons-article2:before {
	content: "\e607"
}

.faisco-icons-authentic1:before {
	content: "\e608"
}

.faisco-icons-authentic2:before {
	content: "\e609"
}

.faisco-icons-back1:before {
	content: "\e60a"
}

.faisco-icons-back2:before {
	content: "\e60b"
}

.faisco-icons-back3:before {
	content: "\e60c"
}

.faisco-icons-back4:before {
	content: "\e60d"
}

.faisco-icons-back5:before {
	content: "\e60e"
}

.faisco-icons-back6:before {
	content: "\e60f"
}

.faisco-icons-bag1:before {
	content: "\e610"
}

.faisco-icons-bag2:before {
	content: "\e611"
}

.faisco-icons-bag3:before {
	content: "\e612"
}

.faisco-icons-bag4:before {
	content: "\e613"
}

.faisco-icons-bra1:before {
	content: "\e623"
}

.faisco-icons-bra2:before {
	content: "\e614"
}

.faisco-icons-basket1:before {
	content: "\e615"
}

.faisco-icons-basket2:before {
	content: "\e616"
}

.faisco-icons-basketball1:before {
	content: "\e617"
}

.faisco-icons-basketball2:before {
	content: "\e618"
}

.faisco-icons-bell1:before {
	content: "\e619"
}

.faisco-icons-bell2:before {
	content: "\e61a"
}

.faisco-icons-bookmark1:before {
	content: "\e61b"
}

.faisco-icons-bookmark2:before {
	content: "\e61c"
}

.faisco-icons-bottle1:before {
	content: "\e61d"
}

.faisco-icons-bottle2:before {
	content: "\e61e"
}

.faisco-icons-box1:before {
	content: "\e61f"
}

.faisco-icons-box2:before {
	content: "\e620"
}

.faisco-icons-boy1:before {
	content: "\e621"
}

.faisco-icons-boy2:before {
	content: "\e622"
}

.faisco-icons-briefcase1:before {
	content: "\e624"
}

.faisco-icons-briefcase2:before {
	content: "\e625"
}

.faisco-icons-bulb1:before {
	content: "\e626"
}

.faisco-icons-bulb2:before {
	content: "\e627"
}

.faisco-icons-cake1:before {
	content: "\e628"
}

.faisco-icons-cake2:before {
	content: "\e629"
}

.faisco-icons-calendar1:before {
	content: "\e62a"
}

.faisco-icons-calendar2:before {
	content: "\e62b"
}

.faisco-icons-call1:before {
	content: "\e62c"
}

.faisco-icons-call2:before {
	content: "\e62d"
}

.faisco-icons-camera1:before {
	content: "\e62e"
}

.faisco-icons-camera2:before {
	content: "\e62f"
}

.faisco-icons-cart1:before {
	content: "\e630"
}

.faisco-icons-cart2:before {
	content: "\e631"
}

.faisco-icons-CD1:before {
	content: "\e632"
}

.faisco-icons-CD2:before {
	content: "\e633"
}

.faisco-icons-chart1:before {
	content: "\e634"
}

.faisco-icons-chart2:before {
	content: "\e635"
}

.faisco-icons-clock1:before {
	content: "\e636"
}

.faisco-icons-clock2:before {
	content: "\e637"
}

.faisco-icons-cloud1:before {
	content: "\e638"
}

.faisco-icons-cloud2:before {
	content: "\e639"
}

.faisco-icons-compass1:before {
	content: "\e63a"
}

.faisco-icons-compass2:before {
	content: "\e63b"
}

.faisco-icons-computer1:before {
	content: "\e63c"
}

.faisco-icons-computer2:before {
	content: "\e63d"
}

.faisco-icons-connect1:before {
	content: "\e63e"
}

.faisco-icons-connect2:before {
	content: "\e63f"
}

.faisco-icons-contact1:before {
	content: "\e640"
}

.faisco-icons-contact2:before {
	content: "\e641"
}

.faisco-icons-contact3:before {
	content: "\e642"
}

.faisco-icons-contact4:before {
	content: "\e643"
}

.faisco-icons-contact5:before {
	content: "\e644"
}

.faisco-icons-contact6:before {
	content: "\e645"
}

.faisco-icons-cook1:before {
	content: "\e646"
}

.faisco-icons-cook2:before {
	content: "\e647"
}

.faisco-icons-credit1:before {
	content: "\e648"
}

.faisco-icons-credit2:before {
	content: "\e649"
}

.faisco-icons-cube1:before {
	content: "\e64a"
}

.faisco-icons-cube2:before {
	content: "\e64b"
}

.faisco-icons-cup1:before {
	content: "\e64c"
}

.faisco-icons-cup2:before {
	content: "\e64d"
}

.faisco-icons-dinner1:before {
	content: "\e64e"
}

.faisco-icons-dinner2:before {
	content: "\e64f"
}

.faisco-icons-doctor1:before {
	content: "\e650"
}

.faisco-icons-doctor2:before {
	content: "\e651"
}

.faisco-icons-dollar1:before {
	content: "\e652"
}

.faisco-icons-dollar2:before {
	content: "\e653"
}

.faisco-icons-download1:before {
	content: "\e654"
}

.faisco-icons-download2:before {
	content: "\e655"
}

.faisco-icons-downward1:before {
	content: "\e656"
}

.faisco-icons-downward2:before {
	content: "\e657"
}

.faisco-icons-downward3:before {
	content: "\e658"
}

.faisco-icons-dress1:before {
	content: "\e659"
}

.faisco-icons-dress2:before {
	content: "\e65a"
}

.faisco-icons-drop1:before {
	content: "\e65b"
}

.faisco-icons-drop2:before {
	content: "\e65c"
}

.faisco-icons-edit1:before {
	content: "\e65d"
}

.faisco-icons-edit2:before {
	content: "\e65e"
}

.faisco-icons-edit3:before {
	content: "\e65f"
}

.faisco-icons-edit4:before {
	content: "\e660"
}

.faisco-icons-edit5:before {
	content: "\e661"
}

.faisco-icons-edit6:before {
	content: "\e662"
}

.faisco-icons-express1:before {
	content: "\e663"
}

.faisco-icons-express2:before {
	content: "\e664"
}

.faisco-icons-female1:before {
	content: "\e665"
}

.faisco-icons-female2:before {
	content: "\e666"
}

.faisco-icons-file1:before {
	content: "\e667"
}

.faisco-icons-file2:before {
	content: "\e668"
}

.faisco-icons-file3:before {
	content: "\e669"
}

.faisco-icons-file4:before {
	content: "\e66a"
}

.faisco-icons-flag1:before {
	content: "\e66b"
}

.faisco-icons-flag2:before {
	content: "\e66c"
}

.faisco-icons-form1:before {
	content: "\e66d"
}

.faisco-icons-form2:before {
	content: "\e66e"
}

.faisco-icons-forward1:before {
	content: "\e672"
}

.faisco-icons-forward2:before {
	content: "\e673"
}

.faisco-icons-game1:before {
	content: "\e674"
}

.faisco-icons-game2:before {
	content: "\e675"
}

.faisco-icons-gem1:before {
	content: "\e676"
}

.faisco-icons-gem2:before {
	content: "\e677"
}

.faisco-icons-gift1:before {
	content: "\e678"
}

.faisco-icons-gift2:before {
	content: "\e679"
}

.faisco-icons-glasses1:before {
	content: "\e6a4"
}

.faisco-icons-glasses2:before {
	content: "\e67b"
}

.faisco-icons-gps1:before {
	content: "\e67c"
}

.faisco-icons-gps2:before {
	content: "\e67d"
}

.faisco-icons-guide1:before {
	content: "\e67e"
}

.faisco-icons-guide2:before {
	content: "\e67f"
}

.faisco-icons-h1:before {
	content: "\e680"
}

.faisco-icons-h2:before {
	content: "\e681"
}

.faisco-icons-heels1:before {
	content: "\e6e5"
}

.faisco-icons-heels2:before {
	content: "\e683"
}

.faisco-icons-home1:before {
	content: "\e684"
}

.faisco-icons-home2:before {
	content: "\e685"
}

.faisco-icons-home3:before {
	content: "\e686"
}

.faisco-icons-home4:before {
	content: "\e687"
}

.faisco-icons-image1:before {
	content: "\e688"
}

.faisco-icons-image2:before {
	content: "\e689"
}

.faisco-icons-info1:before {
	content: "\e68a"
}

.faisco-icons-info2:before {
	content: "\e68b"
}

.faisco-icons-info3:before {
	content: "\e68c"
}

.faisco-icons-info4:before {
	content: "\e68d"
}

.faisco-icons-iphone1:before {
	content: "\e68e"
}

.faisco-icons-iphone2:before {
	content: "\e68f"
}

.faisco-icons-key1:before {
	content: "\e690"
}

.faisco-icons-key2:before {
	content: "\e691"
}

.faisco-icons-label1:before {
	content: "\e692"
}

.faisco-icons-label2:before {
	content: "\e693"
}

.faisco-icons-label3:before {
	content: "\e694"
}

.faisco-icons-label4:before {
	content: "\e695"
}

.faisco-icons-layout1:before {
	content: "\e696"
}

.faisco-icons-layout2:before {
	content: "\e697"
}

.faisco-icons-like1:before {
	content: "\e698"
}

.faisco-icons-like2:before {
	content: "\e699"
}

.faisco-icons-lock1:before {
	content: "\e69a"
}

.faisco-icons-lock2:before {
	content: "\e69b"
}

.faisco-icons-love1:before {
	content: "\e69c"
}

.faisco-icons-love2:before {
	content: "\e69d"
}

.faisco-icons-love3:before {
	content: "\e69e"
}

.faisco-icons-love4:before {
	content: "\e69f"
}

.faisco-icons-mail1:before {
	content: "\e6a0"
}

.faisco-icons-mail2:before {
	content: "\e6a1"
}

.faisco-icons-male1:before {
	content: "\e6a2"
}

.faisco-icons-male2:before {
	content: "\e6a3"
}

.faisco-icons-man1:before {
	content: "\e6fb"
}

.faisco-icons-man2:before {
	content: "\e6a5"
}

.faisco-icons-map1:before {
	content: "\e6a6"
}

.faisco-icons-map2:before {
	content: "\e6a7"
}

.faisco-icons-menu1:before {
	content: "\e6a8"
}

.faisco-icons-menu2:before {
	content: "\e6a9"
}

.faisco-icons-menu3:before {
	content: "\e6aa"
}

.faisco-icons-menu4:before {
	content: "\e6ab"
}

.faisco-icons-menu5:before {
	content: "\e6ac"
}

.faisco-icons-menu6:before {
	content: "\e6ad"
}

.faisco-icons-menu7:before {
	content: "\e6ae"
}

.faisco-icons-menu8:before {
	content: "\e6af"
}

.faisco-icons-menu9:before {
	content: "\e6b0"
}

.faisco-icons-menu10:before {
	content: "\e6b1"
}

.faisco-icons-message1:before {
	content: "\e6b2"
}

.faisco-icons-message2:before {
	content: "\e6b3"
}

.faisco-icons-message3:before {
	content: "\e6b4"
}

.faisco-icons-message4:before {
	content: "\e6b5"
}

.faisco-icons-message5:before {
	content: "\e6b6"
}

.faisco-icons-message6:before {
	content: "\e6b7"
}

.faisco-icons-more1:before {
	content: "\e6b8"
}

.faisco-icons-more2:before {
	content: "\e6b9"
}

.faisco-icons-music1:before {
	content: "\e6ba"
}

.faisco-icons-music2:before {
	content: "\e6bb"
}

.faisco-icons-music3:before {
	content: "\e6bc"
}

.faisco-icons-music4:before {
	content: "\e6bd"
}

.faisco-icons-necklace1:before {
	content: "\e6be"
}

.faisco-icons-necklace2:before {
	content: "\e6bf"
}

.faisco-icons-notice1:before {
	content: "\e6c0"
}

.faisco-icons-notice2:before {
	content: "\e6c1"
}

.faisco-icons-pants1:before {
	content: "\e6c2"
}

.faisco-icons-pants2:before {
	content: "\e6c3"
}

.faisco-icons-pingpong1:before {
	content: "\e6c4"
}

.faisco-icons-pingpong2:before {
	content: "\e6c5"
}

.faisco-icons-plane1:before {
	content: "\e6c6"
}

.faisco-icons-plane2:before {
	content: "\e6c7"
}

.faisco-icons-play1:before {
	content: "\e6c8"
}

.faisco-icons-play2:before {
	content: "\e6c9"
}

.faisco-icons-qq1:before {
	content: "\e6ca"
}

.faisco-icons-qq2:before {
	content: "\e6cb"
}

.faisco-icons-qrcode1:before {
	content: "\e6cc"
}

.faisco-icons-qrcode2:before {
	content: "\e6cd"
}

.faisco-icons-quick1:before {
	content: "\e6ce"
}

.faisco-icons-quick2:before {
	content: "\e6cf"
}

.faisco-icons-read1:before {
	content: "\e6d0"
}

.faisco-icons-read2:before {
	content: "\e6d1"
}

.faisco-icons-RMB1:before {
	content: "\e6d2"
}

.faisco-icons-RMB2:before {
	content: "\e6d3"
}

.faisco-icons-RMB3:before {
	content: "\e6d4"
}

.faisco-icons-RMB4:before {
	content: "\e6d5"
}

.faisco-icons-rob:before {
	content: "\e6d6"
}

.faisco-icons-rocket1:before {
	content: "\e6d7"
}

.faisco-icons-rocket2:before {
	content: "\e6d8"
}

.faisco-icons-scarf1:before {
	content: "\e6d9"
}

.faisco-icons-scarf2:before {
	content: "\e6da"
}

.faisco-icons-search1:before {
	content: "\e6db"
}

.faisco-icons-search2:before {
	content: "\e6dc"
}

.faisco-icons-search3:before {
	content: "\e6dd"
}

.faisco-icons-search4:before {
	content: "\e6de"
}

.faisco-icons-setting1:before {
	content: "\e6df"
}

.faisco-icons-setting2:before {
	content: "\e6e0"
}

.faisco-icons-share1:before {
	content: "\e6e1"
}

.faisco-icons-share2:before {
	content: "\e6e2"
}

.faisco-icons-shirt1:before {
	content: "\e6e3"
}

.faisco-icons-shirt2:before {
	content: "\e6e4"
}

.faisco-icons-shoes1:before {
	content: "\e70c"
}

.faisco-icons-shoes2:before {
	content: "\e6e6"
}

.faisco-icons-shorts1:before {
	content: "\e6e7"
}

.faisco-icons-shorts2:before {
	content: "\e6e8"
}

.faisco-icons-skirt1:before {
	content: "\e6e9"
}

.faisco-icons-skirt2:before {
	content: "\e6ea"
}

.faisco-icons-socks1:before {
	content: "\e6eb"
}

.faisco-icons-socks2:before {
	content: "\e6ec"
}

.faisco-icons-star1:before {
	content: "\e6ed"
}

.faisco-icons-star2:before {
	content: "\e6ee"
}

.faisco-icons-student1:before {
	content: "\e6ef"
}

.faisco-icons-student2:before {
	content: "\e6f0"
}

.faisco-icons-suits1:before {
	content: "\e6f1"
}

.faisco-icons-suits2:before {
	content: "\e6f2"
}

.faisco-icons-sun1:before {
	content: "\e6f3"
}

.faisco-icons-sun2:before {
	content: "\e6f4"
}

.faisco-icons-sweater1:before {
	content: "\e6f5"
}

.faisco-icons-sweater2:before {
	content: "\e6f6"
}

.faisco-icons-trash1:before {
	content: "\e6f7"
}

.faisco-icons-trash2:before {
	content: "\e6f8"
}

.faisco-icons-trousers1:before {
	content: "\e6f9"
}

.faisco-icons-trousers2:before {
	content: "\e6fa"
}

.faisco-icons-truck1:before {
	content: "\e70d"
}

.faisco-icons-truck2:before {
	content: "\e6fc"
}

.faisco-icons-true1:before {
	content: "\e6fd"
}

.faisco-icons-true2:before {
	content: "\e6fe"
}

.faisco-icons-upload1:before {
	content: "\e6ff"
}

.faisco-icons-upload2:before {
	content: "\e700"
}

.faisco-icons-upward1:before {
	content: "\e701"
}

.faisco-icons-upward2:before {
	content: "\e702"
}

.faisco-icons-upward3:before {
	content: "\e703"
}

.faisco-icons-video1:before {
	content: "\e704"
}

.faisco-icons-video2:before {
	content: "\e705"
}

.faisco-icons-wait1:before {
	content: "\e706"
}

.faisco-icons-wait2:before {
	content: "\e707"
}

.faisco-icons-wallet1:before {
	content: "\e708"
}

.faisco-icons-wallet2:before {
	content: "\e709"
}

.faisco-icons-watch1:before {
	content: "\e70a"
}

.faisco-icons-watch2:before {
	content: "\e70b"
}

.faisco-icons-woman1:before {
	content: "\e70e"
}

.faisco-icons-woman2:before {
	content: "\e70f"
}

.faisco-icons-world1:before {
	content: "\e710"
}

.faisco-icons-world2:before {
	content: "\e711"
}

.faisco-icons-world3:before {
	content: "\e712"
}

.faisco-icons-world4:before {
	content: "\e713"
}

.faisco-icons-navigation:before {
	content: "\e714"
}

.faisco-icons-box:before {
	content: "\e715"
}

.faisco-icons-qqweibo:before {
	content: "\e716"
}

.faisco-icons-weibo:before {
	content: "\e717"
}

.faisco-icons-qzone:before {
	content: "\e718"
}

.faisco-icons-kaixin:before {
	content: "\e719"
}

.faisco-icons-renren:before {
	content: "\e71a"
}

.faisco-icons-douban:before {
	content: "\e71b"
}

.faisco-icons-souhu:before {
	content: "\e71c"
}

.faisco-icons-add:before {
	content: "\e71d"
}

.faisco-icons-tieba:before {
	content: "\e71f"
}

.faisco-icons-facebook:before {
	content: "\e720"
}

.faisco-icons-twitter:before {
	content: "\e721"
}

.faisco-icons-linkedin:before {
	content: "\e722"
}

.faisco-icons-taobao:before {
	content: "\e723"
}

.faisco-icons-reduce:before {
	content: "\e724"
}

.faisco-icons-member1:before {
	content: "\e725"
}

.faisco-icons-member2:before {
	content: "\e726"
}

.faisco-icons-look:before {
	content: "\e727"
}

.faisco-icons-sort:before {
	content: "\e728"
}

.faisco-icons-pic:before {
	content: "\e729"
}

.faisco-icons-edit7:before {
	content: "\e72a"
}

.faisco-icons-tips:before {
	content: "\e72b"
}

.faisco-icons-doctor:before {
	content: "\e730"
}

.faisco-icons-Integral:before {
	content: "\e800"
}

.faisco-icons-box3:before {
	content: "\e732"
}

.faisco-icons-star:before {
	content: "\e733"
}

.faisco-icons-glass:before {
	content: "\e731"
}

.faisco-icons-off1:before {
	content: "\e66f"
}

.faisco-icons-off2:before {
	content: "\e670"
}

.faisco-icons-update:before {
	content: "\e671"
}

.faisco-icons-right1:before {
	content: "\e777"
}

.faisco-icons-right2:before {
	content: "\e778"
}

.faisco-icons-star3:before {
	content: "\e901"
}

.faisco-icons-clock3:before {
	content: "\e902"
}