@charset "utf-8"; 

body {
	overflow: auto;
	overflow-x: hidden
}

label {
	cursor: pointer
}

.settingPanel {
	height: 260px;
	_height: 250px;
	overflow-x: hidden;
	overflow-y: auto
}

.title {
	width: 110px;
	text-align: right;
	float: left
}

.title2 {
	width: 65px;
	text-align: right;
	float: left
}

.uploadmsg {
	width: 40px;
	float: left;
	margin-left: 8px;
	height: 26px;
	line-height: 26px;
	overflow: hidden
}

.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: .5em .5em;
	background: 0
}

.itemlist {
	clear: both;
	height: 25px;
	line-height: 25px
}

.colorPicker {
	width: 21px;
	height: 21px;
	line-height: 21px;
	border: 1px solid #999;
	cursor: pointer
}

.viptips {
	text-align: center;
	border: 1px #f4e190 solid;
	background-color: #fff6d0;
	width: 420px;
	margin: 0 auto
}

.systemPatternTypeChange {
	height: 20px;
	padding: 1px 1px 2px 15px
}

.systemPatternTypeChange a {
	padding: 2px 3px 1px 3px;
	outline: 0;
	display: block;
	margin-right: 2px;
	float: left;
	border: 1px solid #fff;
	height: 18px;
	line-height: 18px;
	text-decoration: none;
	color: #555
}

.systemPatternTypeChange a:hover {
	border-color: #3298fe;
	background: #e8f3fe;
	color: #555
}

.systemPatternTypeChangeTitle {
	position: relative;
	float: left;
	background: #84abcc;
	color: #fff;
	padding: 1px 5px;
	margin-right: 3px
}

.systemPatternTypeChangeTitleIco {
	position: absolute;
	width: 0;
	height: 0;
	line-height: 0;
	font-size: 0;
	top: 8px;
	right: -6px;
	border-width: 3px;
	border-style: solid;
	border-color: transparent transparent transparent #84abcc
}

.selecton {
	color: #385e7e !important;
	font-weight: bold
}

#styleSetting .tabType {
	margin-left: 10px
}

#styleSetting .styleFrame {
	width: 450px;
	_width: 445px;
	height: 185px;
	margin: 0
}

#styleSetting .styleBlockSet {
	margin: 5px 0 10px 9px;
	_margin: 5px 0 10px 6px;
	width: 131px;
	_width: 131px;
	height: 79px;
	position: relative;
	border: 2px solid #eaebef;
	border-radius: 5px;
	float: left;
	cursor: pointer;
	padding: 1px
}

#styleSetting .styleImageFrame {
	width: 125px;
	height: 72px;
	position: absolute;
	margin: 3px 3px;
	_margin: 3px 3px
}

#styleSetting .itemlist2 {
	height: 20px;
	line-height: 20px;
	margin-bottom: 5px
}

#styleSetting .clear {
	clear: both
}

#styleSetting .vipBottom {
	position: absolute;
	display: none;
	top: 55px
}

#styleSetting .vipBottomDiv {
	position: absolute;
	width: 125px;
	margin-left: 3px;
	border-radius: 2px;
	text-align: center;
	height: 21px;
	color: black;
	filter: alpha(opacity = 50);
	opacity: .50;
	background-color: #000
}

#styleSetting .vipBottomDivStyle {
	position: absolute;
	width: 125px;
	margin-left: 3px;
	border-radius: 2px;
	text-align: center;
	color: white;
	height: 21px;
	line-height: 21px
}

#styleSetting .vipBottomShow {
	display: block !important
}

.panelChecked {
	border-color: #7bcaff !important
}

.systemPatternHover {
	background-color: #e5e9f0 !important
}

.page {
	width: 440px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	clear: both;
	position: absolute;
	top: 280px;
	_top: 275px;
	margin-top: 5px
}

.page .pageMar {
	height: 20px;
	margin: auto
}

.page .pageMar a {
	width: 20px;
	height: 19px;
	background: url(../image/hover.gif?v=201311041747) -92px 2px no-repeat;
	display: inline;
	line-height: 19px;
	float: left;
	text-decoration: none;
	color: #999;
	margin-left: 1px
}

.page .pageMar .aHover {
	background: url(../image/hover.gif?v=201311041747) -115px 2px no-repeat
		!important;
	color: #666
}

.page .pageMar .lHover {
	background: url(../image/hover.gif?v=201311041747) -23px 2px no-repeat
		!important;
	color: #666
}

.page .pageMar .rHover {
	background: url(../image/hover.gif?v=201311041747) -69px 2px no-repeat
		!important;
	color: #666
}

#styleSettingHidden {
	position: fixed;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 75%;
	_width: 100%;
	top: 22%;
	_position: absolute;
	_height: expression(body.clientHeight);
	background-color: black;
	filter: alpha(opacity = 0);
	z-index: 9032;
	margin-left: 20px;
	overflow: hidden;
	opacity: 0
}

.page .pageMar .rightclass {
	background: url(../image/hover.gif?v=201311041747) -46px 2px no-repeat;
	margin-left: 2px
}

.page .pageMar .leftclass {
	background: url(../image/hover.gif?v=201311041747) 0 2px no-repeat
}