@charset "utf-8"; 

body {
	font-size: 12px;
	overflow: hidden;
	background-color: #f7f7f7;
	color: #333
}

.bodyWrap {
	position: relative;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	width: 1000px
}

.aset {
	color: #1b7ad1;
	text-decoration: none
}

.aset:hover {
	color: #f30
}

.basicSetting {
	height: 25px;
	line-height: 25px;
	text-align: center;
	font-weight: bold;
	background-color: #d4e2f2
}

.titleWidth {
	width: 85px
}

.set4second {
	width: 140px
}

.settingTable {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	font-size: 12px;
	line-height: 24px;
	padding: 0;
	margin: 0
}

.settingTitlePanel {
	height: 24px;
	line-height: 24px;
	text-align: right
}

.settingTitlePanel .settingTitle {
	line-height: 24px;
	text-align: right
}

.rightTitleSet {
	width: 85px;
	float: left
}

.bgmSet {
	width: 80px;
	float: left;
	height: 24px;
	line-height: 24px
}

.basicSettintWrap {
	width: 450px;
	float: left;
	height: 100%;
	padding: 0 10px;
	margin: 0
}

.verticalLinkWrap {
	float: left;
	width: 1%;
	height: 100%
}

.verticalLink {
	float: left;
	width: 1px;
	height: 100%;
	border-left: 1px solid #b8c7d5
}

.webSearchWrap {
	width: 380px;
	float: left;
	height: 100%;
	margin: 0;
	padding: 0 10px
}

.webSearchTitleWrap {
	height: 25px;
	line-height: 25px;
	text-align: center;
	font-weight: bold;
	background-color: #d4e2f2
}

.webSearchTitle {
	display: inline-block
}

.webSearchSettingWrap {
	float: left;
	height: 150px;
	padding-top: 5px
}

.webSearchSettingItem {
	clear: both;
	line-height: 16px
}

.webSearchSettingTitle {
	float: left;
	padding: 2px 0;
	width: 100px;
	text-align: right;
	height: 80px
}

.webSearchIcon {
	background: url(../image/bg01.png?v=201512071738) -1277px -107px
		no-repeat;
	cursor: default
}

.pageSettingWrap {
	float: left;
	width: 380px;
	height: 100%;
	padding: 0 10px
}

.pageSetting {
	height: 25px;
	line-height: 25px;
	text-align: center;
	font-weight: bold;
	background-color: #d4e2f2
}

.settingLine {
	height: 26px;
	line-height: 26px
}

.settingLine .settingTitle {
	text-align: right;
	width: 85px
}

#advanceFuncFrame {
	width: 900px;
	height: 205px
}

#businessFunc {
	position: relative;
	width: 900px;
	height: 205px
}

.businessSettingWrap {
	float: left;
	width: 99%;
	height: 100%;
	padding: 4px 0 0 7px
}

.businessSetting {
	height: 26px;
	line-height: 26px;
	padding-left: 10px;
	font-weight: bold;
	background-color: #d4e2f2
}

.top {
	display: inline-block
}

.contentLeft {
	float: left;
	width: 100px;
	height: 187px;
	padding-top: 18px;
	background: #e0e6eb;
	text-align: center;
	position: relative;
	font-family: "Microsoft Yahei", "微软雅黑", sans-serif
}

.contentLeft ul {
	float: right
}

.contentTopBg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 20px;
	background: #f7f7f7 url(../image/panesMenuBg.png?v=201501101710)
		no-repeat 0 2px
}

.contentBottomBg {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20px;
	background: #f7f7f7 url(../image/panesMenuBg.png?v=201501101710)
		no-repeat left bottom
}

.menu {
	width: 92px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	color: #333
}

.menuHovor {
	background-color: #eceff1
}

.menuCheck {
	background-color: #f7f7f7
}

.contentRight {
	float: left;
	width: 900px;
	height: 205px;
	font-family: "Microsoft Yahei", "微软雅黑", sans-serif;
	overflow: hidden
}

#siteSetting {
	position: relative;
	width: 900px;
	height: 200px;
	padding-top: 5px
}

#navManage {
	position: absolute;
	left: 10px;
	bottom: 10px;
	text-decoration: none;
	color: #555
}

#navManage .navManageDiv {
	height: 20px;
	line-height: 20px;
	padding-right: 7px;
	cursor: pointer;
	border: 1px solid #e0e6eb
}

#navManage .navManageDiv .siteIco {
	float: left;
	width: 25px;
	height: 20px;
	background: url(../image/bg02.png?v=201511091906) -372px -402px
		no-repeat
}

#navManage:hover {
	background: #e8f3fe;
	color: #555
}

#navManage:hover .navManageDiv {
	border-color: #3298fe
}

#navManage:hover .navManageDiv .siteIco {
	background: url(../image/bg02.png?v=201511091906) -372px -365px
		no-repeat
}

#pdIndependenceDiv a {
	margin: 0 1px 0 -1px
}

#ndIndependenceDiv a {
	margin: 0 1px 0 -1px
}

#prIndependenceDiv a {
	margin: 0 1px 0 -1px
}

#nrIndependenceDiv a {
	margin: 0 1px 0 -1px
}

#pdIndependenceDiv span {
	margin: 0 1px 0 -1px
}

#ndIndependenceDiv span {
	margin: 0 1px 0 -1px
}

#prIndependenceDiv span {
	margin: 0 1px 0 -1px
}

#nrIndependenceDiv span {
	margin: 0 1px 0 -1px
}

.settingItemContent {
	width: 140px
}