<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seeyoui.kensite.framework.system.persistence.SysRoleModuleMapper" >
	<!-- 查询单表的字段 -->
	<sql id="tableColumns">
	    t.roleid,
	    t.moduleid
	</sql>
	<!-- 查询过滤条件 -->
	<sql id="whereStr">
		<where>
			1=1
			<if test="roleid != null and roleid != ''">
				and t.roleid LIKE '%${roleid}%'
			</if>
			<if test="moduleid != null and moduleid != ''">
				and t.moduleid LIKE '%${moduleid}%'
			</if>
		</where>
	</sql>
	<sql id="orderBy">
		ORDER BY t.id DESC 
	</sql>
	
	<!-- 查询数据TREE -->
	<select id="getTreeJson" resultType="com.seeyoui.kensite.framework.system.domain.SysModule" parameterType="com.seeyoui.kensite.framework.system.domain.SysRoleModule">
		SELECT 
		t.id,
	    t.name,
		case when sr.id is null then 'F' else 'T' end shiro
		from sys_module t
	    left join sys_role_module srm
	   	on srm.moduleid = t.id and srm.roleid=#{roleid}
    	left join sys_role sr
    	on sr.id = srm.roleid
    	ORDER BY t.id ASC
	</select>
	
	<!-- 数据新增 -->
	<insert id="saveSysRoleModule" parameterType="com.seeyoui.kensite.framework.system.domain.SysRoleModule">
		INSERT INTO SYS_ROLE_MODULE (
	    	roleid,
	    	moduleid
		)
		VALUES (
			#{roleid},
			#{moduleid}
		)
	</insert>
	
	<!-- 数据删除 -->
	<delete id="deleteSysRoleModule">
		DELETE FROM SYS_ROLE_MODULE WHERE roleid=#{roleid}
	</delete>
</mapper>