<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seeyoui.kensite.framework.oa.leave.persistence.LeaveMapper" >
	<!-- 查询单表的字段 -->
	<sql id="tableColumns">
	    t.id,
	    t.createdate,
		t.updatedate,
		t.bindid,
		t.reason,
		t.starttime,
		t.endtime,
		t.leavetype,
		u.username as "createUser.username",
		u.name as "createUser.name",
		d.id as "sysDepartment.id",
		d.name as "sysDepartment.name"
	</sql>
	
	<sql id="leaveJoins">
		LEFT JOIN sys_user u ON u.username = t.createuser
		LEFT JOIN sys_department d ON d.id = u.departmentid
    </sql>
	
	<!-- 查询过滤条件 -->
	<sql id="whereStr">
		<where>
			1=1
			<if test="id != null and id != ''">
				and t.id = #{id}
			</if>
			<if test="bindid != null and bindid != ''">
				and t.bindid = #{bindid}
			</if>
			<if test="reason != null and reason != ''">
				and t.reason LIKE '%${reason}%'
			</if>
			<if test="leaveType != null and leaveType != ''">
				and t.leaveType = #{leaveType}
			</if>
		</where>
	</sql>
	<sql id="orderBy">
		ORDER BY t.createdate DESC 
	</sql>
	
	<!-- 根据ID查询单条数据 -->
	<select id="findLeaveById" resultType="com.seeyoui.kensite.framework.oa.leave.domain.Leave">
		SELECT
		<include refid="tableColumns" />
		FROM OA_LEAVE t
		<include refid="leaveJoins"/>
		WHERE t.id = #{id}
	</select>
	
	<!-- 查询数据集合 -->
	<select id="findLeaveList" resultType="com.seeyoui.kensite.framework.oa.leave.domain.Leave">
		SELECT
		<include refid="tableColumns"/>
		FROM OA_LEAVE t
		<include refid="leaveJoins"/>
		<include refid="whereStr"/>
		<include refid="orderBy"/>
		<![CDATA[ limit #{row}, #{rows}]]>
	</select>
	
	<!-- 查询数据总数 -->
	<select id="findLeaveListTotal" resultType="EasyUIDataGrid">
		SELECT
		COUNT(id)total
		FROM OA_LEAVE t
		<include refid="whereStr"/>
	</select>
	
	<!-- 数据新增 -->
	<insert id="saveLeave" parameterType="com.seeyoui.kensite.framework.oa.leave.domain.Leave">
		INSERT INTO OA_LEAVE (
	    	createdate,
	    	createuser,
	    	reason,
	    	starttime,
	    	endtime,
	    	leavetype,
		    id
		)
		VALUES (
			#{createDate},
			#{createUser.username},
			#{reason},
			#{startTime},
			#{endTime},
			#{leaveType},
		    #{id}
		)
	</insert>
	
	<!-- 数据修改 -->
	<update id="updateLeave" parameterType="com.seeyoui.kensite.framework.oa.leave.domain.Leave">
		UPDATE OA_LEAVE
		<set>
	    	<if test="updateDate !=null and updateDate !=''">
			updateDate=#{updateDate},
			</if>
	    	<if test="updateUser !=null and updateUser.username !=''">
			updateuser=#{updateUser.username},
			</if>
	    	<if test="reason !=null and reason !=''">
			reason=#{reason},
			</if>
	    	<if test="startTime !=null and startTime !=''">
			starttime=#{startTime},
			</if>
	    	<if test="endTime !=null and endTime !=''">
			endtime=#{endTime},
			</if>
	    	<if test="leaveType !=null and leaveType !=''">
			leavetype=#{leaveType},
			</if>
		    id = #{id}
		</set>
		WHERE id = #{id}
	</update>
	
	<!-- 数据修改 -->
	<update id="updateBindid" parameterType="com.seeyoui.kensite.framework.oa.leave.domain.Leave">
		UPDATE OA_LEAVE
		set bindid=#{bindid}
		WHERE id = #{id}
	</update>
	
	<!-- 数据删除 -->
	<delete id="deleteLeave">
		DELETE FROM OA_LEAVE WHERE id IN 
		<foreach item="listId" collection="list"
			open="(" separator="," close=")">
			#{listId}
		</foreach>
	</delete>
</mapper>